<div class="page">
    <h1> All Project Status Changes</h1>

    <p>Status: <%= @status.project_status %></p>

    <%= link_to "Show all comments and status changes", project_status_comments_path %>  
</div>